/* Custom Root Document Styles (overrides MDB Styles) */

:root {
  --bb-font-family: 'Roboto Slab', serif;
  --bb-black: #000000;
  --bb-white: #ffffff;
  --bb-grey-700: #606060;
  --bb-grey-600: #707070;
  --bb-grey-300: #e8e8e8;
  --bb-grey-200: #f7f7f7;
  --bb-grey-100: #f2f2f2;
  --bb-dark-blue: #20283a;
  --bb-med-blue: #0039b7;
  --bb-light-blue: #b3c3e8;
  --bb-tan: #f1f0ec;
  --bb-greyblue: #525564;
  --bb-ctablue: #4c556b;

  --container-lg-width: 1920px;
  --container-width: 1550px;
  --container-1500: 1500px;
  --container-sm-width: 1150px;

  /* --mdb-nav-link-color: --bb-grey-600;
  --mdb-nav-link-hover-color: --bb-black; */
  /* Custom Font Sizes based on 16px = 1rem */
  /* 55px = 3.438rem */
  --bb-fs-950: 3.438rem;
  /* 53px = 3.3125rem */
  --bb-fs-925: 3.3125rem;
  /* 50px = 3.125rem */
  --bb-fs-910: 3.125rem;
  /* 48px = 3rem */
  --bb-fs-908: 3rem;
  /* 46px = 2.875rem */
  --bb-fs-907: 2.875rem;
  /* 44px = 2.75rem */
  --bb-fs-905: 2.75rem;
  /* 40px = 2.5rem */
  --bb-fs-900: 2.5rem;
  /* 38px = 2.375rem */
  --bb-fs-880: 2.375rem;
  /* 36px = 2.25rem */
  --bb-fs-860: 2.25rem;
  /* 35px = 2.1875rem */
  --bb-fs-850: 2.1875rem;
  /* 33px = 2.0625rem */
  --bb-fs-825: 2.0625rem;
  /* 32px = 2rem */
  --bb-fs-800: 2rem;
  /* 30px = 1.875rem */
  --bb-fs-775: 1.875rem;
  /* 28px = 1.75rem */
  --bb-fs-750: 1.75rem;
  /* 25.6px = 1.6rem */
  --bb-fs-725: 1.6rem;
  /* 24px = 1.5rem */
  --bb-fs-710: 1.5rem;
  /* 22px = 1.375rem */
  --bb-fs-700: 1.375rem;
  /* 21px = 1.313rem */
  --bb-fs-650: 1.313rem;
  /* 20px = 1.25rem */
  --bb-fs-600: 1.25rem;
  /* 19px = 1.1875rem */
  --bb-fs-500: 1.1875rem;
  /* 18px = 1.125rem */
  --bb-fs-450: 1.125rem;
  /* 17px = 1.063rem */
  --bb-fs-400: 1.063rem;
  /* 16px = 1rem */
  --bb-fs-350: 1rem;
  /* 14px = 0.875rem */
  --bb-fs-325: 0.875rem;
  /* 13px = 0.8125rem */
  --bb-fs-300: 0.8125rem;
  /* 12px = 0.75rem */
  --bb-fs-250: 0.75rem;
  /* 11px = 0.6875rem */
  --bb-fs-200: 0.6875rem;
  /* 10px = 0.625rem */
  --bb-fs-150: 0.625rem;
  /* 9px = 0.5625rem */
  --bb-fs-100: 0.5625rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
/* Skip Link Styles */

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Font Styles */

body {
  font-family: var(--bb-font-family);
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--bb-grey-700);
  line-height: 1.6;
}

h1,
h2 {
  font-size: var(--bb-fs-700);
  line-height: 1.4;
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--bb-fs-350);
}

@media (min-width: 992px) {
  h1,
  h2 {
    font-size: var(--bb-fs-908);
    line-height: 1.1;
  }

  h3 {
    font-size: var(--bb-fs-650);
  }
}

.blue-centered-border {
  position: relative;
  margin-bottom: 2rem;
}

.blue-centered-border::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 45px;
  background-color: #0039b7;
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.lt-blue-center-underlined-link {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.lt-blue-center-underlined-link::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40px;
  background-color: var(--bb-light-blue);
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* Heights and Widths */

.mw-400 {
  max-width: 400px;
  margin-inline: auto;
}

.mw-400-noauto {
  max-width: 400px;
}

.mw-475 {
  max-width: 475px;
  margin-inline: auto;
}

.mw-580-noAuto {
  max-width: 580px;
}

.mw-730 {
  max-width: 730px;
  margin-inline: auto;
}

.mw-778 {
  max-width: 778px;
  margin-inline: auto;
}

/* Helper Classes */

.zindex-10 {
  z-index: 10;
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .padding-md2lg-inline-0 {
    padding-inline: 0;
  }
}

@media (max-width: 991.9px) {
  .mx-auto-mobile {
    margin-inline: auto;
  }
}

@media (max-width: 1550px) {
  .px-1rem-1550 {
    padding-inline: 1rem;
  }
}

/* Colors */

.bb-tan-bg {
  background-color: var(--bb-tan);
}

.bb-greyblue-bg {
  background-color: var(--bb-greyblue);
}

.bb-grey-300-bg {
  background-color: var(--bb-grey-300);
}

.bb-ctablue-bg {
  background-color: var(--bb-ctablue);
}

/* Buttons */

.bb-white-btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem 2rem;
  transition: all .3s ease-in-out;
  font-weight: 600;
}

.bb-white-btn:hover,
.bb-white-btn:focus {
  background-color: #fff;
  color: var(--bb-dark-blue);
}

/* Layout */

#primary-content {
  overflow-x: hidden;
}

/* Images & Video */

.section-bg-img {
  position: absolute;
  z-index: 1;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.explore-equal-heights {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.explore-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.explore-img-inCol {
  height: 100%;
}

.explore-img {
  display: block;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore-img-title {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
}

.explore-carousel.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: unset;
  height: 300px;
}

.dark-img-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  opacity: 0.5;
}

.video-wrapper {
  cursor: pointer;
}

.video-play-wrapper {
  position: absolute;
  inset: 0;
  z-index: 100;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.video-play-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-wrapper video {
  z-index: 10;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.video-play-wrapper.hide {
  z-index: -1;
  opacity: 0;
}

.video-wrapper video.hide {
  opacity: 0;
  z-index: -1;
}

/* CTA's */

.cta-text {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cta-text {
    font-size: 50px;
    line-height: 60px;
  }
}

/* Global Nav Styles */
.navbar-wrapper {
  width: 100%;
}

.bb_nav_logo {
  display: block;
  width: 100%;
}

.cls-2 {
  fill: #fff;
}

.serviceMark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.serviceMarkLink {
  width: 31.75px;
  height: 55.23px;
}

#main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  background-color: var(--bb-dark-blue);
}

#main-navbar .container-fluid {
  max-width: 1400px;
  margin-inline: auto;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.nav-link,
.menu-link {
  font-size: var(--bb-fs-325);
  font-weight: bold;
  text-align: center;
  position: relative;
}

.nav-link:after,
.menu-link:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 35px;
  left: 50%;
  bottom: 1rem;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
  margin-left: 0;
  border: none;
}

.nav-link:hover:after,
.nav-link:focus:after,
.menu-link:hover:after,
.menu-link:focus:after {
  opacity: 1;
}

.navbar-expand-xl .navbar-nav .nav-link {
  padding-left: 0rem;
  padding-right: 0rem;
}

.subnav-link {
  padding-inline: 1rem !important;
}

.navbar .dropdown-menu {
  border-radius: 0;
  margin-top: 0;
}

.subnav {
  font-size: var(--bb-fs-200);
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--bb-black);
}

.sub-dropdown-menu {
  list-style: none;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

.sub-dropdown-menu .sub-dropdown-item {
  color: var(--bb-black);
  text-decoration: none;
  padding: 0.3rem var(--mdb-dropdown-item-padding-x);
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  font-size: var(--bb-fs-250);
}

.sub-dropdown-menu li:last-child .sub-dropdown-item {
  padding-bottom: 1.25rem;
}

.navbar-toggler {
  color: #fff;
}

.dropstart .dropdown-toggle:before {
  display: none;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--bb-black);
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  z-index: 1000;
}

.navbar .right-nav li {
  list-style: none;
  position: relative;
}

.navbar .right-nav .nav-link-no-after:after {
  display: none;
}

.navbar .right-nav li:last-child .nav-link {
  font-size: var(--bb-fs-325);
  color: var(--bb-grey-700);
  padding: 1.5rem 0.5rem !important;
  line-height: 1.6;
}

.navbar .right-nav li:last-child .nav-link::after {
  display: inherit;
}

.navbar .right-nav li:last-child .nav-link:hover {
  color: var(--bb-black);
}

.navbar .right-nav li.company-dropdown:last-child .nav-link {
  color: #fff;
}

.account-badge {
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #fff;
  display: flex;
  height: 22px;
  justify-content: center;
  align-items: center;
  width: 22px;
  border-radius: 50px;
}

.stroke-svg svg {
  stroke: #fff;
}

.search-div {
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 30px 50px;
  background: #ffffff;
  left: 0;
  border-bottom: 1px solid #efefef;
  z-index: 1009;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.search-div.searchdivshow {
  opacity: 1;
  visibility: visible;
  top: 100px;
}

.form-control {
  border-radius: 0 !important;
  border: 1px solid var(--bb-grey-700);
  background: var(--bb-white);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-color: var(--bb-grey-700);
  box-shadow: -1px 0 0 0 var(--bb-grey-700), 0 1px 0 0 var(--bb-grey-700), 0 -1px 0 0 var(--bb-grey-700);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: var(--bb-grey-700);
  box-shadow: 0 1px 0 0 var(--bb-grey-700);
  border-top: 1px solid transparent;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-color: var(--bb-grey-700);
  box-shadow: 1px 0 0 0 var(--bb-grey-700), 0 -1px 0 0 var(--bb-grey-700), 0 1px 0 0 var(--bb-grey-700);
}

.form-outline .form-control ~ .form-notch .form-notch-trailing {
  border-radius: 0;
}

.form-outline .form-control ~ .form-notch .form-notch-leading {
  border-radius: 0;
}

.form-control input::-webkit-input-placeholder {
  color: #a0a0a0;
}

.form-control input::-moz-placeholder {
  color: #a0a0a0;
}

.form-control input:-ms-input-placeholder {
  color: #a0a0a0;
}

.form-control input::-ms-input-placeholder {
  color: #a0a0a0;
}

.form-control input::placeholder {
  color: #a0a0a0;
}

.form-control:focus {
  border-color: var(--bb-grey-700);
  box-shadow: inset 0 0 0 1px var(--bb-grey-700);
}

.intel-search-results {
  border: 1px solid var(--bb-grey-300);
  border-top: none;
  padding: 0 1rem 1rem;
  max-height: 0px;
  opacity: 0;
  transition-property: max-height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  overflow-y: auto;
}

.intel-search-results.show {
  max-height: 282px;
  opacity: 1;
}

.search-item {
  display: flex;
  align-items: center;
  min-height: 50px;
  gap: 2rem;
  padding: 0.5rem 1rem;
}

.search-item:hover,
.search-item:focus,
.search-item:active {
  background-color: var(--bb-tan);
}

.btn-primary {
  background: #719bd5;
  color: #fff !important;
  font-size: var(--bb-fs-500);
  border-radius: 50px;
  box-shadow: 0 4px 9px -4px #3b71ca61;
}

.btn-primary:first-child:hover,
.btn-primary:focus-visible,
.btn-primary:hover,
.btn-primary:focus,
:not(.btn-check) + .btn-primary:hover {
  background: #4c89d9;
  color: #fff;
  box-shadow: 0 4px 9px -4px #3b71ca61;
}

.footer-logo svg {
  display: block;
  width: 100%;
  max-width: 291px;
}

/* Disabled Button Fixes */

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  box-shadow: 0 4px 9px -4px #3b71ca61;
  color: #838f9f !important;
  pointer-events: none;
  background-color: #e2e8f4;
  border-color: #e2e8f4;
  opacity: 1;
}

.search-list {
  list-style: none;
  padding-left: 0px;
  color: var(--bb-black);
  font-size: var(--bb-fs-300);
}

.search-list li {
  margin-bottom: 1rem;
}

.search-title {
  color: var(--bb-grey-700);
  font-size: var(--bb-fs-300);
  margin-bottom: 13px;
}

.search-dropdown .close-icon {
  scale: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.5s ease-in-out;
  font-size: 24px;
  color: #fdb913;
  left: -4px;
  position: relative;
}

.search-dropdown .search-icon {
  scale: 1;
  opacity: 1;
  visibility: visible;
  width: 20px;
  transition: all 0.5s ease-in-out;
  color: var(--bb-black);
}

.search-dropdown.searchshow .search-icon {
  scale: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.5s ease-in-out;
}

.search-dropdown.searchshow .close-icon {
  scale: 1;
  opacity: 1;
  visibility: visible;
  width: 20px;
}

.search-div .btn-primary {
  width: 164px;
  padding: 0.5rem 1rem;
  margin-top: 15px;
}

.sub-dropdown-menu-title {
  text-align: left;
  font-weight: 600;
  font-size: var(--bb-fs-325);
}

.inner-list {
  font-weight: 400;
  list-style-type: none;
  padding-left: 0;
}

.inner-list .sub-dropdown-item {
  padding: 0.2rem 0rem !important;
}

.sub-dropdown-menu.showsub li:last-child .inner-list .sub-dropdown-item {
  padding-bottom: 0.2rem !important;
}

.nav-link .flag-svg {
  max-height: 15px;
}

.flag-nav-link {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar .right-nav .nav-link #lang-text {
  display: none;
  position: relative;
  cursor: pointer;
  font-weight: 700;
  color: var( --bb-grey-300);
  font-size: var(--bb-fs-250) !important;
  transition: color opacity width 0.5s ease-in-out;
}

.navbar .right-nav .nav-link #lang-text.lang-active {
  display: block;
}

.navbar .right-nav .nav-link:hover #lang-text,
.navbar .right-nav .nav-link:focus-visible #lang-text,
.navbar .right-nav .nav-link:active #lang-text {
  color: #fff;
}

.country-selector-modal.modal {
  z-index: 9999;
}

.country-selector-modal .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.country-selector-modal .modal-content {
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll;
}

.country-selector-modal .btn-close {
  background: transparent url(../img/xmark-solid.svg) 50%/1em auto no-repeat;
  opacity: 1;
  position: absolute;
  top: 1em;
  right: 1em;
}

.country-grid__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.lang-grid__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.country-grid__item {
  padding: 1.5rem;
  border-bottom: 2px solid var(--bb-grey-200);
  position: relative;
}

.lang-grid {
  display: none;
}

.lang-grid__active {
  display: block;
}

.lang-grid__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.lang-grid__item-inner {
  background-color: var(--bb-tan);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  cursor: pointer;
}

.lang-grid__inner-text {
  font-size: var(--bb-fs-250);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1.1;
}

.lang-selected .lang-grid__item-inner {
  background-color: var(--bb-light-blue);
}

.country-selected::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--bb-med-blue);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lang-selected::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--bb-med-blue);
  border-radius: 50%;
  left: 0;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
}

.country-grid__flag {
  max-height: 28px;
  margin-right: 1rem;
}

.country-grid__link {
  font-size: var(--bb-fs-350);
  font-weight: 700;
  line-height: 1;
  color: var(--bb-black);
}

.modal-backdrop {
  z-index: 222;
}

.nav-cat-intro-img {
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aqm-intro-img {
  background-image: url(../img/nav-update_imgs/aqm-desktop-circle.png);
}

.as-intro-img {
  background-image: url(../img/nav-update_imgs/as-desktop-circle.png);
}

.ci-intro-img {
  background-image: url(../img/nav-update_imgs/ci-desktop-circle.png);
}

.bp-intro-img {
  background-image: url(../img/nav-update_imgs/bp-desktop-circle.png);
}

.oc-intro-img {
  background-image: url(../img/nav-update_imgs/oc-desktop-circle.png);
}

@media (min-width: 992px) {
  .country-selector-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .country-grid__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }

  .country-grid__item {
    border-bottom: none;
  }

  .country-grid__title {
    font-size: var(--bb-fs-900);
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .search-div {
    padding: 80px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search-div {
    padding: 80px 10px;
  }
}

/* Global Footer Styles */

.cls-1 {
  fill: #20283a;
}

#main-footer {
  border-top: 1px solid var(--bb-grey-200);
}

.footer-social-row a {
  margin-right: 10px;
  font-size: var(--bb-fs-300);
  text-align: center;
}

.footer-social-row i {
  width: 15px;
  height: 15px;
}

.footer-menu-heading {
  font-size: var(--bb-fs-300);
  font-weight: 600;
}

.footer-menus .list-group-small .list-group-item {
  padding: 4px;
  font-size: var(--bb-fs-100);
  font-weight: 500;
}

.footer-fine-print {
  font-size: var(--bb-fs-100);
  font-weight: bold;
}

@media (min-width: 992px) {
  .footer-menu-heading {
    pointer-events: none;
    touch-action: none;
  }
}

@media (max-width: 992px) {
  .footer-menus {
    border-bottom: 1px solid var(--bb-grey-200);
    margin-bottom: 2.5rem;
  }

  .footer-menu-heading {
    border-top: 1px solid var(--bb-grey-200);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    line-height: 1;
  }

  .footer-menu-heading::after {
    position: absolute;
    content: '\002B';
    right: 0;
    font-size: 28px;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }

  .footer-menu-heading[aria-expanded='true']::after {
    content: '\2212';
  }

  .footer-list-menu a {
    padding: 0.75rem 1rem;
    border-top: 1px solid var(--bb-grey-200);
  }
}

.config-icon {
  font-size: 1.5rem;
  border: 2px solid;
  border-radius: 5000px;
  width: 48px;
  aspect-ratio: 1 /1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e466a;
  margin-right: 0.8rem;
}
