@media (min-width: 768px) {
  .break-on-desktop {
    display: block;
  }

  .header-title {
    font-size: var(--bb-fs-860);
  }

  .header-subtext {
    font-size: var(--bb-fs-325);
  }

  .large-hero-banner img {
    height: 700px;
  }

  .header-banner-text {
    left: 3em;
    bottom: 3em;
    right: unset;
    max-width: 550px;
  }

  .banner-text__header {
    font-size: 60px;
  }

  .section_centered_title {
    font-size: var(--bb-fs-910);
    margin-bottom: 3.438rem;
  }

  .section-title {
    font-size: var(--bb-fs-880);
  }

  .section-text {
    font-size: 17px;
    line-height: 26px;
  }
}

@media (min-width: 992px) {
  /* Layout */
  .wrapper-large {
    max-width: var(--container-lg-width);
    margin-inline: auto;
  }

  .wrapper-1500 {
    max-width: var(--container-1500);
    margin-inline: auto;
  }

  .wrapper {
    max-width: var(--container-width);
    margin-inline: auto;
  }

  .wrapper-sm {
    max-width: var(--container-sm-width);
    margin-inline: auto;
  }

  h2.prod-category-title {
    font-size: var(--bb-fs-910);
  }

  /* .prod-cat-carousel.multi-carousel .multi-carousel-inner,
  .cat-prod-carousel.multi-carousel .multi-carousel-inner {
    width: calc(100% + 1rem);
  } */

  .prod-cat-carousel .multi-carousel-item,
  .cat-prod-carousel .multi-carousel-item {
    min-width: calc(33% - 1rem);
  }

  .prod-cat-carousel button.carousel-control,
  .cat-prod-carousel button.carousel-control {
    top: 50%;
    bottom: unset;
  }
}
