.header-title {
  font-size: var(--bb-fs-600);
  line-height: 1.1;
}

.header-subtext {
  font-size: var(--bb-fs-250);
}

.large-hero-banner img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header-banner-text {
  position: absolute;
  left: 2em;
  right: 2em;
  bottom: 2em;
  color: #fff;
}

.banner-text__header {
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.section_centered_title {
  text-align: center;
  font-size: var(--bb-fs-775);
  color: #5f5f5f;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.section-text {
  font-size: 12px;
  line-height: 20px;
}

h2.prod-category-title {
  color: #5f5f5f;
  font-size: var(--bb-fs-450);
  font-weight: 300;
}

.prod-cat-carousel.multi-carousel {
  overflow-x: hidden;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner,
.cat-prod-carousel.multi-carousel .multi-carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prod-cat-carousel .multi-carousel-item,
.cat-prod-carousel .multi-carousel-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: var(--bb-grey-100);
  min-width: 100%;
  padding: 0 !important;
}

.prod-cat-carousel.multi-carousel .multi-carousel-item a,
.cat-prod-carousel .multi-carousel .multi-carousel-item a {
  text-align: center;
  padding: 1rem;
  display: block;
}

.prod-cat-carousel.multi-carousel .multi-carousel-inner .multi-carousel-item img {
  max-height: unset;
  width: 100%;
  max-width: 300px;
}

.prod-cat-carousel-title {
  font-size: var(--bb-fs-450);
  color: var(--bb-black);
  font-weight: 500;
  margin-top: 1rem;
}

.prod-cat-carousel button.carousel-control,
.cat-prod-carousel button.carousel-control {
  height: 50px;
  width: 50px;
  background: var(--bb-white);
  border-radius: 6px;
  bottom: 1rem;
  top: unset;
  margin-top: -25px;
  opacity: 1 !important;
}

.prod-cat-carousel button.carousel-control.carousel-control-prev,
.cat-prod-carousel button.carousel-control.carousel-control-prev {
  left: 10px;
}

.prod-cat-carousel button.carousel-control.carousel-control-next,
.cat-prod-carousel button.carousel-control.carousel-control-next {
  right: 10px;
}

.prod-cat-carousel button.carousel-control span,
.cat-prod-carousel button.carousel-control span {
  width: auto;
  height: auto;
}

.prod-cat-carousel .carousel-control {
  color: var(--bb-grey-600);
  width: 5%;
  opacity: 1 !important;
  z-index: 20;
}

@media (max-width: 767.9px) {
  .break-on-mobile {
    display: block;
  }
}

@media (max-width: 991.99px) {
  .padded-col {
    padding: 2rem;
  }
}
